drawio_services_lib.xml
drawio_containers_lib.xml
tmp*
.DS_Store
.env
.env.dev
.idea
.mypy_cache/
.tmp
.vscode/
logs/
.secrets*
*venv
*secret.yaml
*assignment*
*model.drawio
*.cache*
*.conf.yml
*.bkp
__pycache__